includes:
    - phpstan-baseline.neon
    - phpstan-baseline-level5.neon
    - phpstan-baseline-strict.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - src/
    excludePaths:
        - var/ (?)
        - src/App/Identity/Infrastructure/UserMap.php
    symfony:
        containerXmlPath: var/cache/dev/KernelDevDebugContainer.xml
