parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Content/Api/State/ArticleProcessor.php

		-
			message: '#^Casting to string something that''s already string\.$#'
			identifier: cast.useless
			count: 1
			path: src/App/Content/Controller/ArticleAdminController.php

		-
			message: '#^Only booleans are allowed in an if condition, string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: src/App/Content/Controller/ArticleAdminController.php

		-
			message: '#^Property App\\Content\\Controller\\ContactController\:\:\$logService is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/App/Content/Controller/ContactController.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Content\\Infrastructure\\Entity\\StaticContent and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Content/Controller/StaticContentController.php

		-
			message: '#^Variable method call on \$this\(App\\Content\\Infrastructure\\Entity\\SupportTicket\)\.$#'
			identifier: method.dynamicName
			count: 1
			path: src/App/Content/Infrastructure/Entity/SupportTicket.php

		-
			message: '#^Call to method getFlashBag\(\) on an unknown class Symfony\\Component\\HttpFoundation\\Session\\Flash\\FlashBagAwareSessionInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/Content/Infrastructure/Subscriber/SupportTicketSubscriber.php

		-
			message: '#^Class Symfony\\Component\\HttpFoundation\\Session\\Flash\\FlashBagAwareSessionInterface not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/Content/Infrastructure/Subscriber/SupportTicketSubscriber.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Content/Infrastructure/Subscriber/SupportTicketSubscriber.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Content\\Infrastructure\\Entity\\StaticContent and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Content/Twig/StaticContentExtension.php

		-
			message: '#^Parameter \#1 \$gender of method App\\Identity\\Infrastructure\\Entity\\User\:\:setGender\(\) expects string, false given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/Identity/Api/State/AdminUserCreateProcessor.php

		-
			message: '#^Strict comparison using \!\=\= between App\\Organization\\Infrastructure\\Entity\\FieldOfStudy and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Identity/Api/State/AdminUserDeleteProcessor.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Organization\\Infrastructure\\Entity\\Department and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Identity/Api/State/AdminUserDeleteProcessor.php

		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Identity/Api/State/ProfilePhotoProcessor.php

		-
			message: '#^Parameter \#1 \$gender of method App\\Identity\\Infrastructure\\Entity\\User\:\:setGender\(\) expects string, bool given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/Identity/Api/State/ProfileProcessor.php

		-
			message: '#^Strict comparison using \!\=\= between App\\Organization\\Infrastructure\\Entity\\FieldOfStudy and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Identity/Api/State/ProfileProvider.php

		-
			message: '#^Call to method getFlashBag\(\) on an unknown class Symfony\\Component\\HttpFoundation\\Session\\Flash\\FlashBagAwareSessionInterface\.$#'
			identifier: class.notFound
			count: 2
			path: src/App/Identity/Controller/PasswordResetController.php

		-
			message: '#^Class Symfony\\Component\\HttpFoundation\\Session\\Flash\\FlashBagAwareSessionInterface not found\.$#'
			identifier: class.notFound
			count: 2
			path: src/App/Identity/Controller/PasswordResetController.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Operations\\Infrastructure\\Entity\\Signature and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Identity/Controller/ProfileController.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Identity\\Infrastructure\\Entity\\Role\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Identity\\Infrastructure\\Entity\\User\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Organization\\Infrastructure\\Entity\\ExecutiveBoardMembership\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Organization\\Infrastructure\\Entity\\Team\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Casting to \*NEVER\* something that''s already \*NEVER\*\.$#'
			identifier: cast.useless
			count: 1
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 6
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Instanceof between App\\Identity\\Infrastructure\\Entity\\Role and App\\Identity\\Infrastructure\\Entity\\Role will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/App/Identity/Infrastructure/AccessControlService.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Identity\\Infrastructure\\Entity\\Role\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/Entity/AccessRule.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Identity\\Infrastructure\\Entity\\User\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/Entity/AccessRule.php

		-
			message: '#^Call to function is_countable\(\) with array\<App\\Organization\\Infrastructure\\Entity\\Team\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/App/Identity/Infrastructure/Entity/AccessRule.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getPassword\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Call to function is_array\(\) with Doctrine\\Common\\Collections\\Collection\<int, App\\Identity\\Infrastructure\\Entity\\Role\> will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Cannot call method toArray\(\) on array\<App\\Operations\\Infrastructure\\Entity\\AssistantHistory\>\.$#'
			identifier: method.nonObject
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 2
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^PHPDoc tag @param has invalid value \(Receipt\)\: Unexpected token "\\n     ", expected variable at offset 25 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Property App\\Identity\\Infrastructure\\Entity\\User\:\:\$executiveBoardMemberships \(array\<App\\Organization\\Infrastructure\\Entity\\ExecutiveBoardMembership\>\) does not accept list\<App\\Shared\\Contracts\\TeamMembershipInterface\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Property App\\Identity\\Infrastructure\\Entity\\User\:\:\$teamMemberships \(array\<App\\Organization\\Infrastructure\\Entity\\TeamMembership\>\) does not accept list\<App\\Shared\\Contracts\\TeamMembershipInterface\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Variable method call on \$this\(App\\Identity\\Infrastructure\\Entity\\User\)\.$#'
			identifier: method.dynamicName
			count: 1
			path: src/App/Identity/Infrastructure/Entity/User.php

		-
			message: '#^Result of && is always true\.$#'
			identifier: booleanAnd.alwaysTrue
			count: 1
			path: src/App/Identity/Infrastructure/PasswordManager.php

		-
			message: '#^Strict comparison using \!\=\= between App\\Identity\\Infrastructure\\Entity\\PasswordReset and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Identity/Infrastructure/PasswordManager.php

		-
			message: '#^Strict comparison using \!\=\= between App\\Identity\\Infrastructure\\Entity\\User and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Identity/Infrastructure/PasswordManager.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Identity\\Infrastructure\\Entity\\User and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Identity/Infrastructure/PasswordManager.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Identity/Infrastructure/Repository/UserRepository.php

		-
			message: '#^Instantiated class Symfony\\Component\\Security\\Core\\Exception\\UsernameNotFoundException not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/Identity/Infrastructure/Repository/UserRepository.php

		-
			message: '#^Throwing object of an unknown class Symfony\\Component\\Security\\Core\\Exception\\UsernameNotFoundException\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/Identity/Infrastructure/Repository/UserRepository.php

		-
			message: '#^Call to function array_search\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/App/Identity/Infrastructure/RoleManager.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Identity/Infrastructure/RoleManager.php

		-
			message: '#^Only booleans are allowed in &&, string\|null given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: src/App/Identity/Infrastructure/RoleManager.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Shared\\Entity\\Semester and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Identity/Infrastructure/RoleManager.php

		-
			message: '#^Return type \(array\) of method App\\Identity\\Infrastructure\\Subscriber\\AccessControlSubscriber\:\:getSubscribedEvents\(\) should be covariant with return type \(array\<string, list\<array\{0\: string, 1\?\: int\}\|int\|string\>\|string\>\) of method Symfony\\Component\\EventDispatcher\\EventSubscriberInterface\:\:getSubscribedEvents\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/App/Identity/Infrastructure/Subscriber/AccessControlSubscriber.php

		-
			message: '#^Return type \(array\) of method App\\Identity\\Infrastructure\\Subscriber\\UserSubscriber\:\:getSubscribedEvents\(\) should be covariant with return type \(array\<string, list\<array\{0\: string, 1\?\: int\}\|int\|string\>\|string\>\) of method Symfony\\Component\\EventDispatcher\\EventSubscriberInterface\:\:getSubscribedEvents\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/App/Identity/Infrastructure/Subscriber/UserSubscriber.php

		-
			message: '#^Parameter \#1 \$newUserCode of method App\\Identity\\Infrastructure\\Entity\\User\:\:setNewUserCode\(\) expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/Identity/Infrastructure/UserRegistration.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Identity\\Infrastructure\\Entity\\User and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Identity/Infrastructure/UserRegistration.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Identity/Infrastructure/UserRegistration.php

		-
			message: '#^Only booleans are allowed in a negated boolean, App\\Identity\\Infrastructure\\Entity\\User\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: src/App/Identity/Infrastructure/UserService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Identity/Infrastructure/UserService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, Symfony\\Component\\Security\\Core\\User\\UserInterface\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Identity/Infrastructure/UserService.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, App\\Identity\\Infrastructure\\Entity\\User\|null given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: src/App/Identity/Infrastructure/UserService.php

		-
			message: '#^Access to an undefined property Symfony\\Component\\Validator\\Constraint\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/App/Identity/Infrastructure/Validator/UniqueCompanyEmailValidator.php

		-
			message: '#^Call to function array_search\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/App/Identity/Infrastructure/Validator/UniqueCompanyEmailValidator.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Identity/Infrastructure/Validator/UniqueCompanyEmailValidator.php

		-
			message: '#^Access to an undefined property Symfony\\Component\\Validator\\Constraint\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/App/Identity/Infrastructure/Validator/VektorEmailValidator.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Identity/Infrastructure/Validator/VektorEmailValidator.php

		-
			message: '#^Strict comparison using \!\=\= between App\\Organization\\Infrastructure\\Entity\\Department and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Operations/Api/State/AdminAssistantHistoryCreateProcessor.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Operations\\Infrastructure\\Entity\\Signature and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Operations/Controller/CertificateController.php

		-
			message: '#^Strict comparison using \=\=\= between App\\Operations\\Infrastructure\\Entity\\Signature and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/App/Operations/Controller/SignatureController.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/App/Operations/Infrastructure/Subscriber/AssistantHistorySubscriber.php

		-
			message: '#^Method App\\Organization\\Infrastructure\\Entity\\ExecutiveBoard\:\:getBoardMemberships\(\) should return array\<App\\Organization\\Infrastructure\\Entity\\ExecutiveBoardMembership\> but returns Doctrine\\Common\\Collections\\Collection\<int, App\\Organization\\Infrastructure\\Entity\\ExecutiveBoardMembership\>\.$#'
			identifier: return.type
			count: 1
			path: src/App/Organization/Infrastructure/Entity/ExecutiveBoard.php

		-
			message: '#^Method App\\Organization\\Infrastructure\\Entity\\ExecutiveBoard\:\:getTeamMemberships\(\) should return array\<App\\Shared\\Contracts\\TeamMembershipInterface\> but returns Doctrine\\Common\\Collections\\Collection\<int, App\\Organization\\Infrastructure\\Entity\\ExecutiveBoardMembership\>\.$#'
			identifier: return.type
			count: 1
			path: src/App/Organization/Infrastructure/Entity/ExecutiveBoard.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: src/App/Support/Controller/FileBrowserController.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: src/App/Support/Controller/GitHubController.php

		-
			message: '#^Parameter \#1 \$potentialMembers of method App\\Organization\\Infrastructure\\Entity\\Team\:\:setPotentialMembers\(\) expects Doctrine\\Common\\Collections\\Collection\<int, App\\Admission\\Infrastructure\\Entity\\Application\>, array\{App\\Admission\\Infrastructure\\Entity\\Application, App\\Admission\\Infrastructure\\Entity\\Application\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/Support/DataFixtures/ORM/LoadApplicationData.php

		-
			message: '#^Parameter \#1 \$potentialMembers of method App\\Organization\\Infrastructure\\Entity\\Team\:\:setPotentialMembers\(\) expects Doctrine\\Common\\Collections\\Collection\<int, App\\Admission\\Infrastructure\\Entity\\Application\>, array\{App\\Admission\\Infrastructure\\Entity\\Application\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/Support/DataFixtures/ORM/LoadApplicationData.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 1
			path: src/App/Support/DataFixtures/ORM/LoadUserData.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/App/Support/EventSubscriber/DbSubscriber.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Support/EventSubscriber/DbSubscriber.php

		-
			message: '#^Return type \(array\) of method App\\Support\\EventSubscriber\\DbSubscriber\:\:getSubscribedEvents\(\) should be covariant with return type \(array\<string\>\) of method Doctrine\\Common\\EventSubscriber\:\:getSubscribedEvents\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/App/Support/EventSubscriber/DbSubscriber.php

		-
			message: '#^Return type \(array\) of method App\\Support\\EventSubscriber\\GSuiteSubscriber\:\:getSubscribedEvents\(\) should be covariant with return type \(array\<string, list\<array\{0\: string, 1\?\: int\}\|int\|string\>\|string\>\) of method Symfony\\Component\\EventDispatcher\\EventSubscriberInterface\:\:getSubscribedEvents\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/App/Support/EventSubscriber/GSuiteSubscriber.php

		-
			message: '#^Only booleans are allowed in a negated boolean, Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/BetaRedirecter.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 4
			path: src/App/Support/Infrastructure/FileUploader.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Support/Infrastructure/GeoLocation.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/GeoLocation.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/GeoLocation.php

		-
			message: '#^Only booleans are allowed in \|\|, string\|null given on the right side\.$#'
			identifier: booleanOr.rightNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/GeoLocation.php

		-
			message: '#^Call to function array_search\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/App/Support/Infrastructure/Google/Gmail.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Support/Infrastructure/Google/Gmail.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, resource\|string\|null given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/Google/Gmail.php

		-
			message: '#^Only booleans are allowed in an if condition, string given\.$#'
			identifier: if.condNotBoolean
			count: 4
			path: src/App/Support/Infrastructure/Google/Gmail.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/App/Support/Infrastructure/Google/Gmail.php

		-
			message: '#^Strict comparison using \!\=\= between array\<string\> and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/App/Support/Infrastructure/Google/GoogleAPI.php

		-
			message: '#^Only booleans are allowed in an if condition, array given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/Google/GoogleService.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, Symfony\\Component\\HttpFoundation\\Request\|null given\.$#'
			identifier: ternary.condNotBoolean
			count: 3
			path: src/App/Support/Infrastructure/LogService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Support/Infrastructure/Mailer/Mailer.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/App/Support/Infrastructure/Slack/SlackMailer.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, string given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/Slack/SlackMailer.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/App/Support/Infrastructure/Slack/SlackMailer.php

		-
			message: '#^Only booleans are allowed in a negated boolean, string given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Support/Infrastructure/Slack/SlackMessenger.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 7
			path: src/App/Support/Sorter.php

		-
			message: '#^Only booleans are allowed in a negated boolean, Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/App/Support/Twig/RoleExtension.php
